.App {
  max-width: 700px;
  width: 90%;
  margin: 20px auto;
  background: #4c2a4c;
  color: #eee;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 50px;
}

input[type="number"] {
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
  margin: 6px 0;
  background: #3c1f3c;
  color: #fff;
  border: 0;
  align-self: center;
  border-radius: 50px;
}

.display {
  align-self: center;
}
